langchain
langchainhub
langchain_community
tiktoken
openai
bs4
boto3==1.34.37
langchain-huggingface
huggingface_hub
openai
#For Vector DB
pinecone
pinecone[grpc]
# For loading pdf
pypdf
# For o/p
pydantic
